@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat";
    --font-PlayfairDisplay: "Playfair Display";

    --color-primary-dark: #26170C;
    --color-primary-light: #79573F; 


  
  




}

@layer base {

    body {
        font-family: var(--font-montserrat);

    }

    .headline-xl {
        font-family: var(--font-PlayfairDisplay);
        font-size: 60px;
        font-weight: 700;
        line-height: 1.1;
    }

    .headline-lg {
        font-family: var(--font-PlayfairDisplay);
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
    }

    .headline-md {
        font-family: var(--font-PlayfairDisplay);
        font-size: 32px;
        font-weight: 600;
        line-height: 1.3;
    }
}

@layer components {
    .nav-link {
        @apply 
        text-[#4F453F] 
        text-[12px] 
        font-montserrat 
        font-semibold 
        leading-[16.8px]
        tracking-[1.2px]
       hover:text-primary-light
         hover:underline;
    }

    .my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 768px) {
    .my-container {
      padding-left: 32px;
      padding-right: 32px;
      
    }
  }

  @media (min-width: 1176px) {
    .my-container {
      padding-left: 64px;
      padding-right: 64px;
      
    }
  }

 
  

    

}