@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat";
    --font-PlayfairDisplay: "Playfair Display";

    --color-primary-dark: #26170C;
    --color-primary-light: #79573F; 
    --background-image-hero: url('src/assests/imgs/M-hero.webp');


  
  




}

@layer base {

    body {
        font-family: var(--font-montserrat);
        @apply bg-[#F0EDED];

    }

    .headline-xl {
        font-family: var(--font-PlayfairDisplay);
        font-size: 60px;
        font-weight: 700;
        line-height: 1.1;
    }

    .headline-lg {
        font-family: var(--font-PlayfairDisplay);
        font-size: 32px;
        font-weight: 600;
        line-height:38.4px;
    }

    .headline-md {
        font-family: var(--font-montserrat);
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
    }


     button {
    cursor: pointer;
  }
}

@layer components {
    .nav-link {
        @apply 
        text-[#4F453F] 
        text-[12px] 
        font-montserrat 
        font-semibold 
        leading-[16.8px]
        tracking-[1.2px]
       hover:text-primary-light
         hover:underline;
    }

    

    .my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
  }


  .card {
    @apply bg-white rounded-lg p-4 transition-transform duration-200 hover:-translate-y-1 hover:shadow-xl ;
  }

  .product-card-title {
    @apply font-PlayfairDisplay text-xl font-medium tracking-tight text-primary-dark;
  }
  .badge-bestseller {
    @apply absolute top-3 left-3 rounded-xs bg-[#FFB77B] px-2.5 py-1 text-[10px] font-normal font-montserrat tracking-wider text-neutral-800 uppercase;
  }
  .product-card-price {
    @apply text-xl font-bold text-[#C27829];
  }

  .tag-primary {
    @apply rounded bg-[#FFD1B3] px-2 py-0.5 text-[10px] font-bold tracking-wide text-[#7A5840] uppercase;
  }

  .tag-secondary {
@apply  bg-[#E5E2E1] px-2 py-0.5 text-[10px] font-bold tracking-wide text-[#4F453F] uppercase;

}

.product-card-details {
    @apply font-montserrat text-[12px] font-semibold tracking-[1.2px] leading-relaxed text-[#4F453F] w-[227.33999633789062px];
  }

  .product-price {
    @apply text-[18px] font-bold text-[#B87333];
  }


  @media (min-width: 768px) {
    .my-container {
      padding-left: 32px;
      padding-right: 32px;
      
    }
  }

  @media (min-width: 1120px) {
    .my-container {
      padding-left: 64px;
      padding-right: 64px;
      gap:30px;
      
      
    }
  }

 
  

    

}